@import url('https://fonts.googleapis.com/css?family=Open+Sans:700%7CRaleway:400,500%7CRoboto:400,900&display=swap');

$brand-color: #9f9acf;
$text-color: #665f60;
$gray: #898f8f;

$secondary-font: 'PT Sans', sans-serif;